version: '3.8'
services:
  intelligentapp:
    build:
      context: .
      dockerfile: Dockerfile
    image: intelligent-app
    ports:
      - 5000:5000
    container_name: intelligent-app
    environment:
      - FLASK_DEBUG=1
      - VISION_KEY=da1bfec1e8204e1091459c3853af3339
      - VISION_ENDPOINT=https://my-cognitive-service-1619.cognitiveservices.azure.com/
      - COSMOS_ACCOUNT_CONNECTION_STRING=AccountEndpoint=https://intelligent-app-cosmos-db-account.documents.azure.com:443/;AccountKey=SYGOk0GFwbJVeCKazrBz97XisSqwlgHwNUA2sDHLPsBua3MMlYMeVyxKuzTdR5UZ8v3w92byc6IiACDb0wq7aw==;
      - COSMOS_ACCOUNT_HOST=https://intelligent-app-cosmos-db-account.documents.azure.com:443/
      - COSMOS_ACCOUNT_KEY=SYGOk0GFwbJVeCKazrBz97XisSqwlgHwNUA2sDHLPsBua3MMlYMeVyxKuzTdR5UZ8v3w92byc6IiACDb0wq7aw==
      - COSMOS_DATABASE_ID=IntelligentAppDB
      - COSMOS_IMAGE_ANALYSIS_CONTAINER_ID=ImageAnalysisContainer
      - COSMOS_AGGREGATE_RESULTS_CONTAINER_ID=AggregateResultsContainer      